<div class="panel panel-default">

    <div class="panel-heading">
        <strong>My Cart</strong>
    </div>

    <table class="table table-condensed" ng-show="$ctrl.getTotalCount()">
        <thead>
            <tr>
                <th>Item</th>
                <th class="text-right">Price</th>
                <th class="text-right">Qty</th>
                <th></th>
                <th class="text-right">Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="product in $ctrl.getItems()">
                <td>{{product.item}}</td>
                <td class="text-right">{{product.price | currency: "&euro;"}}</td>
                <td class="text-right">{{product.qty}}</td>
                <td>
                    <a href="" ng-click="$ctrl.addItem(product.item, product.price)">
                        <i class="fa fa-plus"></i>
                    </a>
                    <a href="" ng-click="$ctrl.addItem(product.item, product.price, -1)">
                        <i class="fa fa-minus"></i>
                    </a>
                </td>
                <td class="text-right">{{product.total | currency: "&euro;"}}</td>
                <td>
                    <a href="" ng-click="$ctrl.clearItem($index)">
                        <i class="fa fa-minus"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="panel-footer text-right">
        <span class="label label-info">Total quantity</span>
        <span class="badge">{{$ctrl.getTotalCount()}}</span>

        <span class="label label-info">Total order</span>
        <span class="badge">{{$ctrl.getTotalPrice() | currency: "&euro;"}}</span>
    </div>

</div>
