<div class="row" data-ng-controller="SigninCtrl">
    <form class="form-horizontal ng-pristine ng-valid">
        <p></p>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="email">
                Email
            </label>
            <div class="col-sm-4">
                <input class="form-control" id="email" type="text"
                    name="email" placeholder="Email"ng-model="email">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="password">
                Password
            </label>
            <div class="col-sm-4">
                <input class="form-control" id="password" type="password"
                    name="password" placeholder="Password" ng-model="pass">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-primary"
                    ng-click="login()">Sign in</button>
                &nbsp;or&nbsp;
                <a href="#/signup" class="btn btn-default">Sign up</a>
            </div>
        </div>

    </form>

    <div ng-show="err" class="alert alert-danger text-center col-sm-offset-2 col-sm-4">
        <strong>{{err}}</strong>
    </div>
</div>
