<div class="panel panel-default">

    <div class="panel-heading">
        My Catalog <strong>{{$ctrl.catalog.description}}</strong>

        <i ng-show="$ctrl.isNewMode" class="fa fa-toggle-on" aria-hidden="true"></i>
        <i ng-hide="$ctrl.isNewMode" class="fa fa-toggle-off" aria-hidden="true"></i>
        <a href="" ng-click="$ctrl.newMode()">
            <i class="fa fa-plus"></i>
        </a>
        <a href="" ng-click="$ctrl.removeCatalog()">
            <i class="fa fa-minus"></i>
        </a>

        <a href="" ng-click="$ctrl.editMode()">
            <i class="fa fa-pencil pull-right"></i>
        </a>
        <i ng-show="$ctrl.isEditMode" class="fa fa-toggle-on pull-right" aria-hidden="true"></i>
        <i ng-hide="$ctrl.isEditMode" class="fa fa-toggle-off pull-right" aria-hidden="true"></i>

        <table ng-show="$ctrl.isNewMode" class="table table-condensed">
            <tbody>
                <tr>
                    <td>
                        <a href="" ng-click="$ctrl.addCatalog(name, desc)">
                            <i class="fa fa-plus"></i>
                        </a>
                    </td>
                    <td>
                        <input class="form-control" type="text" placeholder="name" ng-model="name">
                    </td>
                    <td>
                        <input class="form-control" type="text" placeholder="description" ng-model="desc">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th></th>
                <th>Price</th>
                <th>Item</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-show="$ctrl.catalog" ng-repeat="(item, price) in $ctrl.catalog.items">
                <td>
                    <a ng-hide="$ctrl.isEditMode" href="" ng-click="$ctrl.cart.addItem(item, price)">
                        <i class="fa fa-plus"></i>
                    </a>
                    <a ng-show="$ctrl.isEditMode" href="" ng-click="$ctrl.removeItem(item)">
                        <i class="fa fa-minus"></i>
                    </a>
                </td>
                <td>{{price | currency: "&euro;"}}</td>
                <td title="{{item}}"> {{item}}</td>
            </tr>
            <tr ng-if="$ctrl.catalog && $ctrl.isEditMode">
                <td>
                    <a href="" ng-click="$ctrl.addItem(price, item)">
                        <i class="fa fa-plus"></i>
                    </a>
                </td>
                <td>
                    <input class="form-control" type="text" placeholder="price" ng-model="price">
                </td>
                <td>
                    <input class="form-control" type="text" placeholder="item" ng-model="item">
                </td>
            </tr>
        </tbody>
    </table>

</div>
