<div class="jumbotron">
    <h1>Social shopping cart</h1>

    <p class="lead">
        Create your catalog and share the carts between your friends.
    </p>

    <p ng-show="auth.user">
        Welcome back {{ session.name }}!
        App under construction.
    </p>

    <p ng-hide="auth.user">
        <a class="btn btn-lg btn-success" href="#/signup" role="button">
            Sign up today
        </a>
    </p>
</div>

<div ng-show="auth.user && catalog">
    <p>Catalog: {{catalog.description}}</p>
    <div class="simpleCart_shelfItem" ng-show="catalog"
         ng-repeat="(item, price) in catalog.items">
                <a class="item_add" href="javascript:;">+</a>
                <span class="item_price badge">{{price}} &euro;</span>
                <span class="item_name" title="{{item}}"> {{item}}</span>
    </div>

    <p>
        <span class="label label-info">Total quantity</span>
        <span class="simpleCart_quantity badge"></span>
        <span class="label label-info">Total order</span>
        <span class="simpleCart_total badge"></span>
    </p>

    <div class="simpleCart_items"></div>
</div>

<div class="row marketing" ng-hide="auth.user">
    <div class="col-lg-6">
        <h4>Grocery list</h4>
        <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

        <h4>Take-away order</h4>
        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
    </div>

    <div class="col-lg-6">
        <h4>Supermarket cart</h4>
        <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

        <h4>Hardware list</h4>
        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
    </div>
</div>

