<div class="jumbotron" ng-hide="auth.user">
    <h1>Social shopping cart</h1>

    <p class="lead">
        Create your catalog and share the carts between your friends.
    </p>

    <p>
        <a class="btn btn-lg btn-success" href="#/signup" role="button">
            Sign up today
        </a>
    </p>
</div>

<h1 ng-show="auth.user">
    Welcome back {{ session.name }}!
</h1>

<div ng-show="auth.user && catalog">

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <strong>{{session.name}} / {{catalog.description}}</strong>
                </div>

                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Price</th>
                            <th>Item</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-show="catalog" ng-repeat="(item, price) in catalog.items">
                            <td>
                                <a href="" ng-click="cart.addItem(item, price)">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </td>
                            <td>{{price | currency: "&euro;"}}</td>
                            <td title="{{item}}"> {{item}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>

        <div class="col-lg-6">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <strong>My Cart</strong>
                </div>

                <table class="table table-condensed" ng-show="cart.getTotalCount()">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th class="text-right">Price</th>
                            <th class="text-right">Qty</th>
                            <th></th>
                            <th class="text-right">Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="product in cart.getItems()">
                            <td>{{product.item}}</td>
                            <td class="text-right">{{product.price | currency: "&euro;"}}</td>
                            <td class="text-right">{{product.qty}}</td>
                            <td>
                                <a href="" ng-click="cart.addItem(product.item, product.price)">
                                    <i class="fa fa-plus"></i>
                                </a>
                                <a href="" ng-click="cart.addItem(product.item, product.price, -1)">
                                    <i class="fa fa-minus"></i>
                                </a>
                            </td>
                            <td class="text-right">{{product.total | currency: "&euro;"}}</td>
                            <td>
                                <a href="" ng-click="cart.clearItem($index)">
                                    <i class="fa fa-minus"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="panel-footer">
                    <span class="label label-info">Total quantity</span>
                    <span class="badge">{{cart.getTotalCount()}}</span>

                    <span class="label label-info">Total order</span>
                    <span class="badge">{{cart.getTotalPrice() | currency: "&euro;"}}</span>
                </div>

            </div>

        </div>
    </div>

    <div class="row">

        <div class="col-lg-6">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Shared Cart by Item</strong>
                </div>

                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(item, itemCart) in sharedCart.getCartByItem()">
                            <td>{{item}}</td>
                            <td>{{itemCart.total}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <div class="col-lg-6" ng-show="sharedCart">

            <div class="panel panel-default"
                ng-repeat="(userId, userCart) in sharedCart.getCartByUser()">
                <div class="panel-heading">
                    <strong>Shared Cart by {{userCart.name}}</strong>
                    <span class="badge">
                        {{userCart.total | currency: "&euro;"}}
                    </span>
                </div>
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="product in userCart.cart">
                            <td>{{product.item}}</td>
                            <td>{{product.qty}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>

</div>

<div class="row marketing" ng-hide="auth.user">
    <div class="col-lg-6">
        <h4>Grocery list</h4>
        <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

        <h4>Take-away order</h4>
        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
    </div>

    <div class="col-lg-6">
        <h4>Supermarket cart</h4>
        <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

        <h4>Hardware list</h4>
        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
    </div>
</div>

