<div class="jumbotron">
    <h1>Social shopping cart</h1>

    <p class="lead">
        Create your catalog and share the carts between your friends.
    </p>

    <p ng-show="auth.user">
        Welcome back {{ session.name }}!
        App under construction.
    </p>

    <p ng-hide="auth.user">
        <a class="btn btn-lg btn-success" href="#/signup" role="button">
            Sign up today
        </a>
    </p>
</div>

<div ng-show="auth.user && catalog">
    <div class="row">
        <div class="col-lg-6">
            <h4>{{session.name}} / {{catalog.description}}</h4>

            <div ng-show="catalog" ng-repeat="(item, price) in catalog.items">

                <a href="" ng-click="cart.addItem(item, price)">
                    <i class="fa fa-plus"></i>
                </a>
                <span class="badge">{{price | currency: "&euro;"}}</span>
                <span title="{{item}}"> {{item}}</span>

            </div>

        </div>

        <div class="col-lg-6">
            <p>
                <span class="label label-info">Total quantity</span>
                <span class="badge">{{cart.getTotalCount()}}</span>

                <span class="label label-info">Total order</span>
                <span class="badge">{{cart.getTotalPrice() | currency: "&euro;"}}</span>
            </p>

            <table class="table table-condensed" ng-show="cart.getTotalCount()">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Price</th>
                        <th>Qty</th>
                        <th></th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in cart.getItems()">
                        <td>{{product.item}}</td>
                        <td class="text-right">{{product.price | currency: "&euro;"}}</td>
                        <td class="text-right">{{product.qty}}</td>
                        <td>
                            <a href="" ng-click="cart.addItem(product.item, product.price)">
                                <i class="fa fa-plus"></i>
                            </a>
                            <a href="" ng-click="cart.addItem(product.item, product.price, -1)">
                                <i class="fa fa-minus"></i>
                            </a>
                        </td>
                        <td class="text-right">{{product.total | currency: "&euro;"}}</td>
                        <td>
                            <a href="" ng-click="cart.clearItem($index)">
                                <i class="fa fa-minus"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <h4>Shared Cart by Item</h4>
        </div>
        <div class="col-lg-6">
            <h4>Shared Cart by User</h4>
        </div>
    </div>

</div>

<div class="row marketing" ng-hide="auth.user">
    <div class="col-lg-6">
        <h4>Grocery list</h4>
        <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

        <h4>Take-away order</h4>
        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
    </div>

    <div class="col-lg-6">
        <h4>Supermarket cart</h4>
        <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

        <h4>Hardware list</h4>
        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
    </div>
</div>

